.greeting-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    width: 50%;
    height: 170px;
    background-color: rgb(31, 27, 51);
    border-radius: none;
}

.message{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    color: white;
    
    
}